## 데이터셋 준비
- The Complete Titanic Dataset : https://www.kaggle.com/datasets/vinicius150987/titanic3
- 스프레드 시트로 정리 : https://docs.google.com/spreadsheets/d/1p8SgoOqLPGZbkkNBfWDyxdjlM1sBoOLo/edit?usp=sharing&ouid=104295259370579267197&rtpof=true&sd=true

### 3. 항목 설명
항목 | 설명
-|:-
pclass	| Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd), 승객의 등급 (1 = 1등급, 2 = 2등급, 3 = 3등급)
survival | Survival (0 = No; 1 = Yes), 생존 여부 (0 = 생존하지 않음, 1 = 생존)
name | Name, 이름
sex	| Sex, 성별
age | Age, 나이
sibsp | Number of Siblings/Spouses Aboard, 함께 탑승한 형제자매/배우자의 수
parch | Number of Parents/Children Aboard, 함께 탑승한 부모/자녀의 수
ticket | Ticket Number, 티켓 번호
fare | Passenger Fare (British pound), 승객 요금 (영국 파운드)
cabin | Cabin, 객실 번호
embarked | Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton), 탑승 항구 (C = 쉐르부르, Q = 퀸스타운, S = 사우샘프턴)
boat | Lifeboat, 구명보트 번호
body | Body Identification Number, 시신 식별 번호
home.dest | Home/Destination, 거주지/목적지

In [ ]:
import pandas as pd

In [ ]:
# index_col = 'name'으로 지정

## loc - 특정 행의 특정 열 조회

생존자 'Blank, Mr. Henry'를 조사해보자

### 예제 1 : Blank, Mr. Henry의 승객 등급과 요금은?

In [ ]:
# 1. Blank, Mr. Henry는 승객 등급은?

DataFrame.loc : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html  
의 하단 `Examples`의 `Getting values`을 확인해보면

Single label for row and column
```python
>>> df.loc['cobra', 'shield']
2
```

In [ ]:
# 2. Blank, Mr. Henry는 승객 등급과 요금은?

In [ ]:
# 3. Blank, Mr. Henry는 승객 등급과 요금은? -> DataFrame으로

### 예제 2 : Herman, Miss. Alice 와 Herman, Miss. Kate는?
- 2명의 정보가 모두 같다! 쌍둥이지 않았을까?

In [ ]:
# 탑승자

In [ ]:
# 1. 모든 열 조회

In [ ]:
# 2. 승객 등급과 요금은?