## 결측치를 제어해서 조건문을 단순화 시키기
- 조건문이 복잡해지기 전에 미리 데이터를 정리하는 연습을 해보자.
- isin, isnull, notnull 메소드는 Series, DataFrame 모두 있다.

**isin**
- https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html

**isnull**
- https://pandas.pydata.org/docs/reference/api/pandas.Series.isnull.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html

**notnull**
- https://pandas.pydata.org/docs/reference/api/pandas.Series.notnull.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.notnull.html

In [ ]:
# 참조
import pandas as pd

In [ ]:
# 데이터프레임 생성
cols = ['name', 'survived', 'pclass', 'fare', 'sex', 'age']
titanic = pd.read_excel('titanic3.xls', usecols=cols, index_col='name')
titanic

## 상류층 | 중산층 모두 찾을 조건문(마스크)를 만들 때
- 기존에 배운 방식으로 한다면

## `.isin()`으로 동일코드를 구현해보면

> ### `Series.isin(values)`
**Parameters**
values : set or list-like  
**Returns**
Series : Series of booleans indicating if each element is in values.  
**Raises** TypeError : If values is a string

---
- 파이썬의 in 과 비슷하게 생각해보자.
    - `1 in [1, 2]` `2 in [1, 2]` 모두 True가 나옴
- `isin` 메소드를 사용하여 각 요소가 특정 값들에 속하는지 여부를 확인할 수 있다.
- Series의 각 요소가 주어진 값(values)에 포함되는지 여부를 나타내는 불리언 Series를 반환
- values는 집합(set)이나 리스트 형태의 값들로 이루어진 시퀀스
- values에 단일 문자열을 전달할 경우 TypeError가 발생
    - 단일 문자열을 하나의 요소로 갖는 리스트로 변환해야함.

In [ ]:
# 1, 2, 3 모두 확인한다면

## `.isnull()`
- null 요소가 있는지 확인하는 메서드
- NA를 발견하면 True로 반환한다.

In [ ]:
# null이 있는 데이터 확인하기

In [ ]:
# age열 isnull()

In [ ]:
# 개수 확인

## `.notnull()`
- isnull과 반대로 NA가 아닌 걸 발견하면 True로 반환

In [ ]:
# 개수 확인

## 이를 이용하여 조건문(Mask)만들기

In [ ]:
# 나이가 식별되지 않은 사람 확인

In [ ]:
# 나이가 식별된 사람 확인