## 이름(name) 변경

In [ ]:
# 참조
import pandas as pd

In [ ]:
# 데이터프레임 생성
cols = ['name', 'survived', 'pclass', 'fare', 'sex', 'age']
titanic = pd.read_excel('titanic3.xls', usecols=cols, index_col='name')
titanic

## 열(column) 이름 변경

In [ ]:
# 열 목록(columns index) 조회

In [ ]:
# 특정 열 이름 접근

In [ ]:
# Try : 수정 = 접근 후 할당

In [ ]:
# 방법 1 : rename을 이용하기

In [ ]:
# 방법 2 : 같은 길이의 리스트를 준비해서 교체하기

In [ ]:
# 길이가 5이니 5개 요소의 리스트 준비하기, 비용(fare->cost)로 변경

## rename() 좀 더 살펴보기 - 행과 열의 인덱스 이름 변경
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.rename.html
- https://pandas.pydata.org/docs/reference/api/pandas.Index.rename.html

In [ ]:
# 1. 2개의 열을 변경하려면?

In [ ]:
# axis인자를 빼고 한다면

In [ ]:
# 2. 인덱스에서 'Allen, Miss. Elisabeth Walton' 이름 변경

In [ ]:
# axis인자를 빼고 한다면

In [ ]:
# 3. 행렬 인덱스를 설정