## pd.Timestamp()
- https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html
- 날짜/시간 표현하는 데이터
- 인자와 인자 입력방법이 많아서 실습하며 인자 활용법을 배워보자

In [ ]:
import pandas as pd

In [ ]:
# 인자 입력

In [ ]:
# 인자 생략 + 세계 협정시 Z

In [ ]:
# 날짜 표기로 한번에

- T : 시간과 날짜 구분 표기([ISO 8601](https://ko.wikipedia.org/wiki/ISO_8601))
- Z : zulu, [UTC 협정 세계시](https://ko.wikipedia.org/wiki/%ED%98%91%EC%A0%95_%EC%84%B8%EA%B3%84%EC%8B%9C) 표기
    - '+00:00' 또는 '-00:00'로 대체 표기도 가능

In [ ]:
# 세계 협정시 조정

In [ ]:
# 객체 속성 접근/활용

In [ ]:
# .strftime()으로 날짜데이터를 string format화
# %X == %H:%M:%S

## Python의 날짜/시간 포맷(format)
- https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

| 포맷 | 설명 |
|-------|:----|
| %a    | 현 지역에 따른 요일의 축약된 이름     |
| %A    | 현 지역에 따른 요일의 전체 이름       |
| %w    | 일요일을 0으로 시작하여 6으로 끝나는 요일 |
| %d    | 월의 일을 0으로 시작하여 31로 끝나는 날짜 |
| %b    | 현 지역에 따른 월의 축약된 이름       |
| %B    | 현 지역에 따른 월의 전체 이름         |
| %m    | 월을 0으로 시작하여 12로 끝나는 숫자  |
| %y    | 세기를 제외한 연도를 0으로 시작하여 99로 끝나는 숫자 |
| %Y    | 세기를 포함한 연도                   |
| %H    | 24시간 형식으로 표시된 시간을 0으로 시작하여 23로 끝나는 숫자 |
| %I    | 12시간 형식으로 표시된 시간을 0으로 시작하여 12로 끝나는 숫자 |
| %p    | 오전 또는 오후                      |
| %M    | 분을 0으로 시작하여 59로 끝나는 숫자   |
| %S    | 초를 0으로 시작하여 59로 끝나는 숫자   |
| %f    | 마이크로초를 6자리 숫자로 표시       |
| %z    | UTC 오프셋을 ±HHMM 또는 ±HHMMSS 형식 |
| %Z    | 시간대 이름                         |
| %j    | 연중 날짜를 0으로 시작하여 366으로 끝나는 숫자 |
| %U    | 주 번호를 0으로 시작하여 일요일을 첫 번째 요일로 간주 |
| %W    | 주 번호를 0으로 시작하여 월요일을 첫 번째 요일로 간주 |
| %c    | 현 지역에 적합한 날짜와 시간 표현    |
| %x    | 현 지역에 적합한 날짜 표현            |
| %X    | 현 지역에 적합한 시간 표현            |
| %%    | '%' 문자 표시                       |

## Timestampe 사칙연산
- 각 속성들 중 숫자형도 있어서 이들 끼리도 연산되지만
- Timestamp() 객체 자체도 연산이 가능

- 특정 시간 시점(시각) 2개임으로 빼면 '시간 차이'가 계산된다.
- 시점+시간차이 : 미래 날짜를 구할 수 있다.
- 시점-시간차이 : 과거 날짜를 구할 수 있다.

## 다양한 Timestamp 생성법

In [ ]:
# 날짜 표기법으로 입력
texts = [
    '2020-01-02',
    '2022/01/02',
    '2021.01.02',
    '2023 Jan 02'
]

In [ ]:
for t in texts:
    print( )

In [ ]:
# 세계 협정시 기준 : 1970.1.1 00:00부터의 ns로 입력
import time
time.time() # second
time.time_ns() # nanosecond

In [ ]:
s = 1702731357.7366805
ns = 1702731342736680500

## pd.to_datetime()
- https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
- 문자열 또는 숫자를 날짜와 시간으로 변환하는 기능을 제공
- 날짜 인자 입력 방법은 위의 Timestamp()와 거의 같다.

In [ ]:
# 날짜 표기법으로 입력
texts = [
    '2020-01-02',
    '2022/01/02',
    '2021.01.02',
    '2023 Jan 02'
]

In [ ]:
for t in texts:
    print( )

## Timestamp() == to_datetime() 인가?

### 1. 입력 데이터의 형식
- `Timestamp()`
    - 문자열, 정수, datetime 객체 등 다양한 형식의 데이터를 입력
- `to_datetime()`
    - 대체로 문자열 데이터를 입력(숫자도 받긴함). 
    - 일반적으로 날짜와 시간을 나타내는 문자열 형식을 입력으로 사용.

### 2. 유효성 검사
- `Timestamp()`
    - 입력 데이터에 대한 추가적인 유효성 검사를 수행하지 않음
    - 잘못된 형식의 데이터가 입력되면 에러 발생.
- `to_datetime()` 
    - 입력 데이터의 형식을 추론하고, 유효성을 검사. 이를 올바른 형식의 데이터로 변환
    - 잘못된 날짜 형식이나 값이 입력되면, 에러가 발생하지 않고 NaN 또는 **NaT (Not a Time)** 값을 반환.

### 3. 반환 값
- `Timestamp()`
    - 입력 데이터의 형식에 따라 단일의 Timestamp 객체를 반환
- `to_datetime()`
    - 입력 데이터에 따라 단일의 Timestamp 객체 또는 **DatetimeIndex 객체**를 반환
    - 날짜와 시간 데이터 여러 개가 입력되면, DatetimeIndex 객체는 해당 데이터들을 포함하는 인덱스로 사용됨

In [ ]:
# Timestamp()로 데이터 생성


# to_datetime()로 데이터 생성

## pd.DatetimeIndex()
- https://pandas.pydata.org/docs/reference/indexing.html#datetimeindex
- https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html#pandas.DatetimeIndex
- 날짜와 시간 데이터를 인덱스로 사용하기 위한 특수 **데이터 구조**
- 시계열 데이터를 쉽게 조작하고 분석하도록 도와줌
- 요약 : 날짜형 인덱스!

## DatetimeIndex() 간단 실습

In [ ]:
import pandas as pd

In [ ]:
# 날짜 문자열을 DatetimeIndex로 변환
data_list = ['2023-12-01', '2023-12-02', '2023-12-03', '2023-12-04']

In [ ]:
# 미리보기 : 12월 한번에 DatetimeIndex만들기
start_date = '2023-12-01'
end_date = '2023-12-31'

**date_range()의 `freq=` : str, Timedelta, datetime.timedelta, or DateOffset, default 'D'**
- 단위를 지정하여 날짜 생성
- 1. Y M W(주별) D H T(분) S
- 2. 1에 추가적인 표기를 넣을 수 있음

In [ ]:
# 12월 1주일 간격으로 날짜 생성 - 일요일

## 날짜 데이터가 부족할 때

## 날짜 데이터가 잘못 되었을 때, errors=

In [ ]:
date_list = ['2000', '2001/13/02', '2022.02.03', '12:34', '20:21', 1702731342736680500]

**`errors=` : {'ignore', 'raise', 'coerce'}, default 'raise'**
- raise
    - 잘못된 형식의 데이터가 있을 경우 ValueError를 발생
- ignore(무시)
    - 잘못된 형식의 데이터를 무시하고 변환 시도
    - 변환할 수 없는 데이터는 그대로 유지
- coerce(강제)
    - 잘못된 형식의 데이터를 NaT (Not a Time)로 대체
    - NaT는 누락된 날짜/시간 값을 나타내는 특수한 Datetime 객체
    - 변환할 수 없는 데이터는 NaT로 대체되므로, 모든 값을 Datetime 객체로 변환할 수 있다.

In [ ]:
date_list = ['2000', '2001/13/02', '2022.02.03', '12:34', '20:21', 1702731342736680500]

In [ ]:
date_list = ['2000', '2001/13/02', '2022.02.03', '12:34', '20:21', 1702731342736680500]

```python
DatetimeIndex([          '2000-01-01 00:00:00',
                                         'NaT',
                         '2022-02-03 00:00:00',
                         '2023-12-19 12:34:00',
                         '2023-12-19 20:21:00',
               '2023-12-16 12:55:42.736680500'],
              dtype='datetime64[ns]', freq=None)
```