## 데이터셋
- 고객 성격 분석 : https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis

In [ ]:
%%html
<style> .rendered_html table{margin-left:5px} </style>

### 사람 정보
| 속성              | 설명                                               |
| ---------------- | -------------------------------------------------- |
| ID               | 고객의 고유 식별자                                  |
| Year_Birth       | 고객의 출생 연도                                    |
| Education        | 고객의 교육 수준                                   |
| Marital_Status   | 고객의 결혼 여부                                   |
| Income           | 고객의 연간 가구 소득                              |
| Kidhome          | 고객 가구의 어린이 수                               |
| Teenhome         | 고객 가구의 십대 수                                |
| Dt_Customer      | 고객이 회사에 등록한 날짜                            |
| Recency          | 고객의 마지막 구매로부터 경과한 일수                |
| Complain         | 고객이 지난 2년 동안 불만을 제기한 경우 1, 그렇지 않으면 0 |

### 제품
| 속성                | 설명                                   |
| ------------------ | -------------------------------------- |
| MntWines           | 지난 2년간 와인에 지출한 금액               |
| MntFruits          | 지난 2년간 과일에 지출한 금액               |
| MntMeatProducts    | 지난 2년간 육류에 지출한 금액               |
| MntFishProducts    | 지난 2년간 어류에 지출한 금액               |
| MntSweetProducts   | 지난 2년간 과자에 지출한 금액               |
| MntGoldProds       | 지난 2년간 금에 지출한 금액                 |

### 프로모션
| 속성                  | 설명                                            |
| -------------------- | ----------------------------------------------- |
| NumDealsPurchases    | 할인을 받아 구매한 횟수                           |
| AcceptedCmp1         | 1차 캠페인에서 고객이 제안을 수락한 경우 1, 그렇지 않으면 0 |
| AcceptedCmp2         | 2차 캠페인에서 고객이 제안을 수락한 경우 1, 그렇지 않으면 0 |
| AcceptedCmp3         | 3차 캠페인에서 고객이 제안을 수락한 경우 1, 그렇지 않으면 0 |
| AcceptedCmp4         | 4차 캠페인에서 고객이 제안을 수락한 경우 1, 그렇지 않으면 0 |
| AcceptedCmp5         | 5차 캠페인에서 고객이 제안을 수락한 경우 1, 그렇지 않으면 0 |
| Response             | 마지막 캠페인에서 고객이 제안을 수락한 경우 1, 그렇지 않으면 0 |

### 장소
| 속성                   | 설명                                           |
| --------------------- | ---------------------------------------------- |
| NumWebPurchases       | 회사 웹사이트를 통해 구매한 횟수                    |
| NumCatalogPurchases   | 카탈로그를 사용하여 구매한 횟수                     |
| NumStorePurchases     | 직접 매장에서 구매한 횟수                           |
| NumWebVisitsMonth     | 지난 달 동안 회사 웹사이트를 방문한 횟수               |

### 교육 수준 설명
| 교육 수준      | 설명                                                         |
|:------------: | :------------------------------------------------------------ |
| Basic        | 고졸, 대학교 재학생. 해당하는 교육 수준이 명확하지 않거나, 특정한 학위를 가지지 않은 기본 수준. |
| Graduation   | 학사. 해당 학교나 교육기관에서 학위를 취득하여 졸업한 수준.|
| 2nd Cycle    | 대학원 재학생. 석사 학위 이전의 학위 수준. |
| Master       | 석사. 해당 분야에서 전문적인 지식과 기술을 습득하는 수준. |
| PhD          | 박사. 최고 학위. 해당 분야에서 깊은 연구를 수행하고 새로운 지식을 창출하는 수준. |

In [ ]:
import pandas as pd

In [ ]:
customers = pd.read_csv('marketing_campaign.csv', sep='\t', index_col='ID')
customers

In [ ]:
# 나이 계산 - 데이터셋이 2021.08.23임

In [ ]:
# 연도 옆에 추가

## .apply(func)
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html
- 시리즈에 각 함수 실행결과를 적용시킨다.

| 구분   | 나이 범위 | 설명 |
|:-|:-   |:-|
| 아동   | 0세부터 만 12세까지 | 0세부터 12세까지의 나이를 아동으로 분류. |
| 청소년 | 만 13세부터 만 19세까지 | 13세부터 19세까지의 나이를 청소년으로 분류. |
| 청년   | 만 20세부터 39세까지 | 20세부터 39세까지의 나이를 청년으로 분류. 청년은 취업, 결혼, 주택 구입 등의 중요한 이벤트가 발생하는 시기입니다. |
| 중년   | 만 40세부터 64세까지 | 40세부터 64세까지의 나이를 중년으로 분류. 중년은 청년기 이후의 성숙한 시기로 여겨지며, 가정을 이루고 가족을 양육하는 등의 책임을 맡을 때입니다. |
| 노년   | 만 65세 이상 | 65세 이상의 나이를 노년으로 분류. 노년은 고령자로 여겨지며, 사회적 보호와 건강 관리 등에 대한 관심이 증가합니다. |

In [ ]:
# 열 이동 = 제거&반환 - 새로 삽입

In [ ]:
# 연령 분류 확인

## .apply(func)의 여러 열 데이터 활용하기
- 육류, 어류에 대한 지출 금액을 합산하기

## .apply(lambda_func)
- 연간 수익(Income)을 달러->원화로 변경

In [ ]:
# 2023-12-09 기준 1달러 == 1312원