## 데이터셋
- 고객 성격 분석 : https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis

In [ ]:
import pandas as pd

In [ ]:
customers = pd.read_csv('marketing_campaign.csv', sep='\t', index_col='ID')
customers

## .replace()
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html

| 결혼 상태   | 인원 수 | 뜻 |
|-----------|--------| -- |
| Married   | 864    | 기혼 |
| Together  | 580    | 동거 |
| Single    | 480    | 독신 |
| Divorced  | 232    | 이혼 |
| Widow     | 77     | 미망 |
| Alone     | 3      | 혼자, 싱글|
| Absurd    | 2      | 터무니없는 |
| YOLO      | 2      | 욜로 인생 |

이 중 Alone, Absurd, YOLO는 해석에 애매한 부분이 있다.  
해당 데이터의 토론에도 이슈가 있으며  
YOLO같은 경우는 일반적인 Single과는 다른 고객패턴이 있음을 표시하고 싶었던 것 일수도.

여기서는 이 3가지를 Single로 귀속시켜보자.

In [ ]:
# 방법 1. 시리즈.replace(dict)

In [ ]:
# 방법 2. 시리즈.replace(to_replace:list, value)

다양한 replace() 예제는 아래서 살펴보자.
- https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html
- 정규표현식도 있다.

In [ ]:
# 방법 3. 데이터프레임.replace()

Series.replace와 Dataframe.replace의 차이는 탐색&변경의 범위

In [ ]:
# Inplcae=True로 원본에 반영하기

## 없는 값을 바꾸려고 하면?

아무 에러도 발생하지 않는다.