# 값 세기
- https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html

In [ ]:
import pandas as pd

In [ ]:
rich_df = pd.read_csv('TopRichestInWorld.csv')
rich_df

In [ ]:
# 특정 열 2개 가져오기

## .value_counts()

In [ ]:
# 나라 열만 가져오기 -> 시리즈 화

In [ ]:
# value_counts : collection.Counter와 비슷한 기능

In [ ]:
# 산업 열만 가져오기 -> 시리즈 화
rich_industry = pd.read_csv('TopRichestInWorld.csv', usecols=['Industry']).squeeze()
rich_industry

In [ ]:
# 부자들이 가장 많이 하는 산업
rich_industry.value_counts()

## normalize= - 정규화

**인자 정보**
> **normalize : bool, default False**  
If True then the object returned will contain the relative frequencies of the unique values.
---
**normalize**
- 퍼센트처럼 비중으로 계산합니다.
- 미국이 36퍼센트, 중국이 17퍼센트

In [ ]:
#  따라서 합은 1이 된다.

## sort=, ascending=

In [ ]:
# 부자로 가장 유니크한 산업을 찾는다면

In [ ]:
# 오름차순 정렬한다면

In [ ]:
# normalize를 빼면

>**sort : bool, default True**
Sort by frequencies when True. Preserve the order of the data when False.
    
>**ascending : bool, default False**
Sort in ascending order.

---

**sort**
- 빈도별로 정렬
- False면 정렬이 안됨.

**ascending**
- True면 오름차순 정렬
- False면 내림차순

In [ ]:
# 굳이 이렇게 할 필요가 있을까?

## bins=

In [ ]:
# 나이 열만 가져오기 -> 시리즈 화

> **bins : int, optional**  
Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data.
---
**bins**
- 개수를 입력하여, 그 만큼 구간을 나누어 카운트 합니다.
- bins가 지정안되면, 고유 값의 빈도로 카운드 합니다.
- 숫자처럼 연속형 데이터만 가능합니다.

## dropna= - NaN처리

In [ ]:
data = ['banana', None, 'apple', 'banana', 'apple']
data_set = pd.Series(data)
data_set

> **dropna : bool, default True**
Don’t include counts of NaN.

---
**dropna**
- 카운트 시에 NaN형 데이터를 처리할지를 결정합니다.
- defalut True라서 None이 카운트가 되지 않다가
- False시 None도 카운트가 된다.

In [ ]:
# 여러분이 보게 될 수도 있는 예시
import numpy as np
data = ['banana', None, 'apple', 'banana', 'apple', np.nan]
data_set = pd.Series(data)
data_set