## 데이터 준비
- https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows/

In [ ]:
import pandas as pd

In [ ]:
cols = ['Series_Title', 'Released_Year', 'Meta_score', 'IMDB_Rating', 'Overview']

In [ ]:
# 가져올 열 지정하기
movie_df = pd.read_csv('imdb_top_1000.csv', usecols=cols)
movie_df

## 열 조회

In [ ]:
# 단일 열 조회를 하면 Series가 return된다.

In [ ]:
# 다중 열 조회를 하면 DataFrame

In [ ]:
# 없는 열을 조회하면 Error
movie_df['AAA']

좀 더 안전하게 가져올 땐, 파이썬 Dictionary처럼 .get()를 이용해보자.

1. 에러 발생을 제어할 건지
2. `.get()`함수로 안전하게 조회할 건지 결정
3. `[ ]` 로 접근하는 건 address access고 .get()조회하는 건 return value(값 반환)이라서
4. 전자는 접근 후 수정이 되고, 후자는 수정이 되지 않는다.

## 열 추가 - 1. 일련화 된 값
- 내가 본 영화를 체크하는 란을 만들자.
- 리스트의 .append()처럼 위치는 지정할 수 없다. (뒤에 붙음)

In [ ]:
# 마치 dict형에서 값 추가하듯

In [ ]:
# 확인해 보면

## 열 추가 - 2. .insert()를 이용한 일련화된 값
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.insert.html
- 나만의 평점을 추가해본다고 하자
- .insert()를 이용하면 위치도 지정할 수 있다.

**loc : int**
Insertion index. Must verify 0 <= loc <= len(columns).

**column :str, number, or hashable object**
Label of the inserted column.

**value : Scalar, Series, or array-like**

**allow_duplicates : bool, optional, default lib.no_default**

- Scalar : 단일 값

In [ ]:
# Watched 앞에 넣어보자 ->  추가된 후 최종 위치 -> 0 1 2 3 4 [5] 6위치

In [ ]:
# 조회

## 열 추가 - 3. 다양한 값 추가(Series or array-like)

- value인자 설명을 보면 Series or array-like
- Series와 array-like가 개수만 맞다면 추가 가능

일단은 `My_Score`, `Watched`를 삭제 drop합시다.

In [ ]:
# 지난 수업 복습겸 작성해보자.

### 예시1. Watched를 리스트로 추가해보기

In [ ]:
# 예시 watched 생성

In [ ]:
# 처음 배운 [] 방식으로 추가하기

### 예시 2. My_Score를 시리즈로 추가해보기

In [ ]:
import random
my_score = [random.randint(0, 10) for x in range(1000)]
my_score

In [ ]:
# 시리즈 생성

In [ ]:
# IMDB_Rating 앞에 추가해보자.

In [ ]:
# 확인

## 만일 데이터의 개수가 안 맞는다면?

### 테스트 1 : [] + `array-like` 로 열 추가 방식

In [ ]:
watched

In [ ]:
del watched[0]

In [ ]:
len(watched)

In [ ]:
# 테스트 1000개 <-999개  : 에러발생

ValueError: Length of values (999) does not match length of index (1000)

### 테스트 2 : insert+`Series`로 열 추가 방식

In [ ]:
# 테스트 1000개 <-999개  : 에러 발생?

1. 일치된 인덱스에 맞춰 값이 추가된다.
2. 일치되지 않은 행은 NaN으로 대체된다.

데이터 전처리를 열심히 하다보면 이렇게 NaN데이터가 쉽게 생겨나기도 한다.

### 테스트 3. [] + `Series` 추가하면?