## 데이터 준비
- https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows/

In [ ]:
import pandas as pd

In [ ]:
cols = ['Released_Year', 'Genre', 'Series_Title', 'Director', 'Meta_score', 'IMDB_Rating', 'No_of_Votes', 'Certificate', 'Gross']

In [ ]:
# 가져올 열 지정하기
movie_df = pd.read_csv('imdb_top_1000.csv')
movie_df = movie_df[cols]
movie_df

In [ ]:
movie_df.info()

## .dropna()
- NaN 유형 데이터를 drop(삭제)시킨다.

In [ ]:
# 모든 row x col의 공간. 즉 row의 cell에 NaN이 있으면 1개라도 있으면 row 삭제

In [ ]:
# default : axis=0 -> row를 삭제
# 만일 default : axis=1이면? -> col을 삭제

## how= : NA발견시 제거되는 방식 설정
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html
- NaN 발견시 제거 기준을 정한다.

**how : {'any', 'all'}, default 'any'**  
Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.
- 'any' : If any NA values are present, drop that row or column.
- 'all' : If all values are NA, drop that row or column.

---
- NA 발견시 행 또는 열이 데이터프레임에서 제거되는 방식을 결정
- 'any' : 만약 NA 값이 하나라도 존재한다면, 해당 행 또는 열을 제거, default
- 'all' : 만약 모든 값이 NA인 경우에 해당하는 행 또는 열을 제거

In [ ]:
# 연습용 데이터
data = {
    'A' : [1, 2, None, 4],
    'B' : [None, None, None, 8],
    'C' : [9, None, None, None],
    'D' : [None, None, None, None]
}

data_df = pd.DataFrame(data)
data_df

## subset= : 특정열의 NA만 확인

**subset: column label or sequence of labels, optional**  
Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.

In [ ]:
# 먼저 movie_df를 확인해보면
movie_df

In [ ]:
# Certificate 열의 NA여부만 확인하고 dropna()를 실행하면
movie_df.dropna(subset='Certificate')

1. Certificate가 NaN인 경우 row가 삭제되고,
2. Gross의 NaN은 제거 연산에서 제외되었다.

In [ ]:
movie_df.dropna(subset=['Certificate', 'Gross'])

## .fillna() : 결측치 대체하기
- fillna() : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

In [ ]:
# 연습용 데이터
data = {
    'A' : [1, 2, None, 4],
    'B' : [None, None, None, 8],
    'C' : [9, None, None, None],
    'D' : [None, None, None, None]
}

data_df = pd.DataFrame(data)
data_df

In [ ]:
# value=를 이용하여 결측치 대체

## method= :

**method{‘backfill’, ‘bfill’, ‘ffill’, None}, default None**  
Method to use for filling holes in reindexed Series:
- ffill: propagate last valid observation forward to next valid.
- backfill / bfill: use next valid observation to fill gap.
- [Deprecated] since version 2.1.0: Use ffill or bfill instead.

---

- ffill : 마지막으로 관찰된 유효한 값(결측값이 아닌 값)을 다음 유효한 값까지 앞으로 전파.
  - 쉽게 보면 바로 앞 행 데이터와 동일 값으로 채운다.(axis=0일 때) 
  - 그렇게 결측치(결측값)을 채워 데이터의 연속성을 유지시킨다.
- backfill / bfill : 다음 유효한 값으로 채웁니다.
  - 다음 행의 같은 열 값으로 채운다는 말!(axis=0일 때)
- [Deprecated] Pandas 2.1.0부터는 ffill 또는 bfill을 사용하세요.

### method='ffill'

In [ ]:
# method='ffill' -> NA를 이전 행 같은 열의 관찰 값으로 대체

### method='bfill'

In [ ]:
# method='bfill' -> NA를 다음 행 같은 열의 관찰 값으로 대체

### method='ffill', axis=1

In [ ]:
# method='ffill' -> NA를 같은 행 이전 열의 관찰 값으로 대체

### method='bfill', axis=1

In [ ]:
# method='bfill' -> NA를 다음 행 같은 열의 관찰 값으로 대체

## limit=  
- 연속되어 결측치를 나올 경우, 결측치 대체 횟수 지정

**limit : int, default None**  
If method is specified, this is the maximum number of consecutive NaN values to forward/backward fill. In other words, if there is a gap with more than this number of consecutive NaNs, it will only be partially filled. If method is not specified, this is the maximum number of entries along the entire axis where NaNs will be filled. Must be greater than 0 if not None.

### limit=2

In [ ]:
# 원래 data_df

In [ ]:
# fillna(method='ffill')

In [ ]:
# limit=2로 제한

### limit=2, value=0
- value=로 결측치 대체값을 지정하고 limit=으로 최대 횟수를 정해보자